@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap");

:root {
  --backgroundcolor1: white;
  --backgroundcolor2: black;
  --fontcolor1: black;
  --fontcolor2: white;
  --linkcolor: #3b4593;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: var(--fontcolor2);
  text-transform: uppercase;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: black;
  background: rgba(245, 245, 245, 0.992);
}

body {
  background: var(--backgroundcolor1);
  /* display: block; */
  margin: 0 auto;
  text-align: center;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

nav li {
  text-transform: uppercase;
  padding: 20px 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  transition: 1s ease;
}

nav li::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--linkcolor);
  transition: width 0.3s ease-in-out;
  transform: translateY(-55px);
}

nav li:hover::before {
  width: 100%;
}

nav li:hover {
  color: var(--linkcolor);
}

nav li:last-child:before {
  background: none;
}

#language {
  background-color: rgba(128, 128, 128, 0.25);
  padding: 6px 16px;
  border-radius: 35px;
  font-weight: 500;
}

.main-header {
  background: url(./assets/img/bg.jpg) fixed center/cover;
  color: var(--fontcolor2);
  padding: 100px;
}

h1 {
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 1.5rem;
}

.main-header button {
  letter-spacing: 2px;
  padding: 10px 20px;
}

.main-header i {
  transform: translateX(5px);
}
